/*
	CSS can be removed or adjusted: 
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}



.grid-item { width: 200px; }
.grid-item-double { width: 400px; }
.grid {
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid #999;
}
.grid-item {
    min-height: 100px;
    text-align: center;
    background-color: #ddd;
    font-size: 22px;
    padding-top: 40px;
    color: #555;
    font-weight: bold;
}
.grid-item:nth-child(1)	{height: 200px; background: url("imagenes/img1.jpg") no-repeat center/100%;}
.grid-item:nth-child(2)	{height: 150px; background: url("imagenes/img2.webp") no-repeat center/150%;}
.grid-item:nth-child(3)	{height: 110px; background: url("imagenes/img3.jpg") no-repeat center/115%;}
.grid-item:nth-child(4)	{height: 320px; background: url("imagenes/img4.webp") no-repeat center/135%;}
.grid-item:nth-child(5)	{height: 160px;	background: url("imagenes/img5.jpg") no-repeat center/100%;}
.grid-item:nth-child(6)	{height: 520px;	background: url("imagenes/img6.gif") no-repeat center/120%;}
.grid-item:nth-child(7)	{height: 200px;	background:url("imagenes/img7.jpg") no-repeat center/120%;}
.grid-item:nth-child(8)	{height: 160px;	background: url("imagenes/img8.webp") no-repeat center/145%;}
.grid-item:nth-child(9)	{height: 320px;	background: url("imagenes/img9.jpg") no-repeat center/140%;}
.grid-item:nth-child(10)    {height: 130px;	background: url("imagenes/img10.jpg") no-repeat top/100%;}
.grid-item:nth-child(11)	{height: 230px;	background: url("imagenes/img11.webp") no-repeat center/120%;}
.grid-item:nth-child(12)	{height: 170px;	background: url("imagenes/img12.jpg") no-repeat center/100%;}
.grid-item:nth-child(13)	{height: 120px;	background: url("imagenes/img13.webp") no-repeat top/90%;}
.grid-item:nth-child(14)	{height: 200px;	background: url("imagenes/img14.jpg") no-repeat center/80%;}
.grid-item:nth-child(15)	{height: 380px;	background: url("imagenes/img15.jpg") no-repeat center/150%;}
.grid-item:nth-child(16)	{height: 140px;	background: url("imagenes/img16.jpg") no-repeat center/100%;}
.grid-item:nth-child(17)	{height: 160px;	background: url("imagenes/img17.webp") no-repeat center/80%;}
.grid-item:nth-child(18)	{height: 180px;	background: url("imagenes/img18.jpg") no-repeat center/90%;}
.grid-item:nth-child(19)	{height: 150px;	background: url("imagenes/img19.webp") no-repeat center/100%;}
.grid-item:nth-child(20)	{height: 110px;	background: url("imagenes/img20.jpg") no-repeat center/100%;}

span.tooltip {
    color: white;
    cursor: pointer;
    position: relative;
}

span.tooltip::before {
    display: none;
    content: attr(data-title);
    color: white;
    font-size: 1em;
    padding: .5em;
    background: #00000090;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 1%;
    min-width: 500px;
    z-index: 999;
}

span.tooltip:hover::before {
    display: block;
}




